@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for Post container */
.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #f29f58;
  border-radius: 8px;
  border: 3px solid #0a0818;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #2e2e2e;
  border-radius: 8px;
}

/* Add this to your CSS */
.custom-post-container {
  position: relative;
  overflow: hidden;
  border-radius: 8px; /* Optional, for rounded corners */
}

.custom-post-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 8px; /* Adjust the height of the blur effect */
  background: rgba(0, 0, 0, 0.5); /* Darken the blur area */
  filter: blur(10px); /* Set the blur radius */
  z-index: -1; /* Ensure the blur is behind the content */
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  background-color: #1b1833;
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
